:root {
    --main-bg-color: rgba(128, 206, 113, 0.8);
}

li {
    display: block;
    align-content: flex-start;
    flex-wrap: wrap;
    color: gold;
}

.close {
    align-self: flex-start;
    display: inline-block;
    background-color: rgba(239, 0, 0, 0.8);
    color: white;
    border: none;
}

#main-box {
    position: fixed;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    padding: 10%;
    text-align: center;
}

#list {
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
}

#title {
    background-color:var(--main-bg-color);
    color: white;
    margin: auto;
    padding: px;
    width: 60%;
    text-align: center;
    padding: initial;
}

.input-area {
    display: inline;
    margin: 1%;
    align-items: center;
    justify-content: space-evenly;
}

#field {
    border: var(--main-bg-color) solid 5px;
}

#button {
    border: var(--main-bg-color) solid 5px;
    color: var(--main-bg-color);
    background: white;
    width: fit-content;
    height: fit-content;
}